<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include("../fragmente/head") %>
    <title>Comparare Produse</title>
    <link rel="stylesheet" href="/resurse/css/general.css">
</head>
<body>
    <%- include("../fragmente/header") %>
    
    <main class="container my-4">
        <h1 class="text-center mb-4">Comparare Produse</h1>
        
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Caracteristică</th>
                        <th><%= produse[0].nume %></th>
                        <th><%= produse[1].nume %></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Imagine</th>
                        <td class="text-center">
                            <img src="/resurse/imagini/produse/<%= produse[0].imagine %>" class="img-fluid" style="max-height:150px" alt="<%= produse[0].nume %>">
                        </td>
                        <td class="text-center">
                            <img src="/resurse/imagini/produse/<%= produse[1].imagine %>" class="img-fluid" style="max-height:150px" alt="<%= produse[1].nume %>">
                        </td>
                    </tr>
                    <tr>
                        <th>Preț</th>
                        <td><%= produse[0].pret %> lei</td>
                        <td><%= produse[1].pret %> lei</td>
                    </tr>
                    <tr>
                        <th>Bucătărie</th>
                        <td><%= formatareDenumireCategorie(produse[0].bucatarie) %></td>
                        <td><%= formatareDenumireCategorie(produse[1].bucatarie) %></td>
                    </tr>
                    <tr>
                        <th>Tip fel</th>
                        <td><%= formatareDenumireCategorie(produse[0].tip_fel) %></td>
                        <td><%= formatareDenumireCategorie(produse[1].tip_fel) %></td>
                    </tr>
                    <tr>
                        <th>Gramaj</th>
                        <td><%= produse[0].gramaj_portie %> g</td>
                        <td><%= produse[1].gramaj_portie %> g</td>
                    </tr>
                    <tr>
                        <th>Timp preparare</th>
                        <td><%= produse[0].timp_preparare %> min</td>
                        <td><%= produse[1].timp_preparare %> min</td>
                    </tr>
                    <tr>
                        <th>Vegetarian</th>
                        <td><%= produse[0].vegetarian ? "Da" : "Nu" %></td>
                        <td><%= produse[1].vegetarian ? "Da" : "Nu" %></td>
                    </tr>
                    <tr>
                        <th>Ingrediente</th>
                        <td><%= produse[0].ingrediente ? produse[0].ingrediente.join(', ') : "Nespecificate" %></td>
                        <td><%= produse[1].ingrediente ? produse[1].ingrediente.join(', ') : "Nespecificate" %></td>
                    </tr>
                    <tr>
                        <th>Descriere</th>
                        <td><%= produse[0].descriere %></td>
                        <td><%= produse[1].descriere %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="d-flex justify-content-center gap-3 mt-4">
            <button id="btn-reset-comparare" class="btn btn-danger">
                <i class="bi bi-x-circle"></i> Resetează compararea
            </button>
            
            <a href="/produse" class="btn btn-primary">
                <i class="bi bi-arrow-left"></i> Înapoi la produse
            </a>
        </div>
    </main>
    
    <%- include("../fragmente/footer") %>
    
</body>
</html>