<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="keywords" content="Deserturi, meniuri principale, aperitive, salate, supe, ciorbe, deserturi, pizza, burgeri, shaorma, mancare rapida">

        ">
    <meta name="description" content="Cele mai bune retete culinare!">
    <title>Cyberware - eroare</title>
    <link rel="stylesheet" type="text/css" href="/resurse/css/general.css">
    <link rel=" stylesheet" type="text/css" href="/resurse/css/eroare.css">
    <link rel="stylesheet" type="text/css" href="/resurse/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/resurse/css/nav700.css">
    <link rel="stylesheet" type="text/css" href="/resurse/css/nav1000.css">
    <%- include("../fragmente/head.ejs"); %>
</head>

<body>

    <%- include("../fragmente/header.ejs"); %>

        <main>
            <div id="err-coloane">
                <div id="err-imag">
                    <img src="<%- locals.imagine %>" />
                </div>
                <section>
                    <h2><%- locals.titlu %></h2>
                    <p><%- locals.text %></p>
                </section>
            </div>
        </main>

        <%- include("../fragmente/footer.ejs"); %>


</body>

</html>