<figure class="grid-item <%= pozitieClasa %>">
    <picture>
        <source srcset="/<%=cale_galerie%>/small/<%=img.fisier_imagine%>" media="(max-width: 768px)">
        <source srcset="/<%=cale_galerie%>/medium/<%=img.fisier_imagine%>" media="(max-width: 1200px)">
        <img 
            src="/<%=cale_galerie%>/<%=img.fisier_imagine%>" 
            alt="<%=img.continut_alternativ || img.nume_poza%>"
            title="<%=img.descriere_poza%>"
        >
    </picture>
    <figcaption>
        <span class="index-roman"><%=toRoman(index)%>.</span> <%=img.nume_poza%>
        <% if (img.atribuire) { %>
            <span class="atribuire">© <%=img.atribuire.autor%>
                <% if (img.atribuire.url) { %>
                    - <a href="<%=img.atribuire.url%>" target="_blank"><%=img.atribuire.url%></a>
                <% } %>
                <% if (img.atribuire.licenta) { %>
                    - <%=img.atribuire.licenta%>
                <% } %>
            </span>
        <% } %>
    </figcaption>
</figure>